h1
  | Users#edit


  .profile_icon
    / =current_user.avator
  .name
    =current_user.name
  h5
  |プロフィール写真を変更

  h4
  |ユーザーネーム
  =form_with model: current_user.name do |u|
    =u.text_field :name
    h4
    |自己紹介
    =u.text_field :profile

    h4
    |メールアドレス
    =u.text_field :email

    =u.submit

