p
  |user/index

-@users.each do |user|
  =link_to "user_path(user.id)" do
    user.avatar
  |ユーザー名: #{user.name}<br>
  |投稿: #{user.posts.count}<br>
  |フォロー: #{user.followings.count} 件<br>
  |フォロワー: #{user.followers.count} 件<br>
  = render partial: 'follow_button', locals: { user: user }

