h1
  | Users#show

/ =render "posts/slidemenu"

.profile_image
  =image_tag("no-image.jpg")
.profile_name
  =@user.name
.profile_edit_icon
  i.fas.fa-cog

.user_post_count
  =@user.posts.count
.followings_count
  link_to followings_path(@user.id)
    =@user.followings.count
.followers_count
  link_to followers_path(@user.id)
    =@user.followers.count

=@users.each do |user|
  user.name<br>
  投稿: =user.post.count <br>
  フォロー: =user.followings.count　
  件<br>
  フォロワー: =user.followers.count　
  件<br>
  /link_to post_path(user.id) do
  / user.post.image