/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
*{
  text-decoration: none;
  a:hover{
    color: #f1e204;
  }
  .clearfix::after{
    content: "";
    display: block;
    clear: both;
  }
}

html{
  overflow: hidden;
  font-size: 10px;
  background-color: rgba(var(--b3f,250,250,250),1);
  // color: white;
  a:link, a:visited, a:active {
    color: white;
  }
  main{
    aside{
      display: block;
      height: 100%;
    }
  }
  //全ページのヘッダー
  .header_nav{
    z-index: 999;
    .container{
    position: absolute;
    top: 0;
    left: 0;
    height: 50px;
    width: 100%;
    background-color: #438d6485;
    box-shadow: 0 3px 0 0 rgba(0,0,0,.1);
      //ヘッダー左
      &_indexlink{
        float: left;
        font-size: 3rem;
        font-family: kufam;
        width: 33%;
        height: 3rem;
        margin-top: 2px;
        margin-left: 10px;
        .app_logo{
          line-height: 0px;
          .furi_gana{
            letter-spacing: 25px;
            font-size: 10px;
            margin-left: 10px;
          }

        }
      }
      //ヘッダー中央
      &_searchform{
        position: absolute;
        top: 8px;
        left: 360px;
        &_form{
          select, input{
            color: #000;
          }
          select{
            height: 30px;
            border: 1px solid #acacac;
            color: #000;
            opacity: .7;
            border-radius: 1px;
            text-align: center;
            transition: all .3s;
            -webkit-transition: all .3s;
            -moz-transition: all .3s;
            outline: none;
          }
          input#search{
            width: 220px;
            height: 28px;
            border: 1px solid #acacac;
            margin: 0 5px;
            color: #000;
            opacity: .7;
            border-radius: 5px;
            text-align: center;
            transition: all .3s;
            -webkit-transition: all .3s;
            -moz-transition: all .3s;
            outline: none;
          }
          #search:focus{
            width: 1000px;
            outline: none;
          }
          input#button{
            height: 30px;
            border: 1px solid #acacac;
            color: #000;
            opacity: .7;
            border-radius: 1px;
            text-align: center;
            transition: all .3s;
            -webkit-transition: all .3s;
            -moz-transition: all .3s;
            outline: none;
          }
        }
      }
      //ヘッダー右
      &_loginlink{
        float: right;
        font-size: 1rem;
        .user_avatar{
          margin-right: 15px;
          .profile_avatar{
          border-radius: 50%;
          height: 100%;
          width: 40px;
          height: 40px;
          }
        }
        .user_info{
          margin-right: 15px;
          &_name{
            margin-right: 10px;
            position: relative;
            display: inline-block;
            font-weight: bold;
            padding: 0.25em 0.5em;
            text-decoration: none;
            color: #5f3a8a;
            background: #ECECEC;
            transition: .4s;
          }
          &_name:hover{
            background: #5f3a8a;
            color: white;
          }
        }
        .guest_user_link{
          font-weight: bold;
          padding: 0.5em 1.5em;
          margin-right: 10px;
          margin-top: 10px;
          display: inline-block;
          text-decoration: none;
          background: #ECECEC;
          transition: .4s;
          border-radius: 8px;
          a{
            font-size: 13px;
            color: #5f3a8a;
          }
          &:hover{
            background: #5f3a8a;
            a{
              color: #ECECEC;
            }
          }
        }
        .user_link{
          &_logout{
            margin-right: 10px;
            position: relative;
            display: inline-block;
            font-weight: bold;
            padding: 0.25em 0.5em;
            text-decoration: none;
            background: #ECECEC;
            transition: .4s;
            a{
              color: #5f3a8a;
            }
          }
          &_logout:hover{
            background: #5f3a8a;
            a{
              color: #ECECEC;
            }
          }
          display: inline-block;
        }
      }
    }
  }
  .clearfix::after {
    content: "";
    display: block;
    clear: both;
  }
}


//サイドバー本体
#slidemenu{
  background-color: #438d6485;
  li{
    z-index: 99;
  }
  //サイドバー本体active時のアイコンと文字
  .active{
    color: #5f3a8a;
    .fas{
      color: #5f3a8a;

    }
  }
}
.slidemenu{
  position: absolute;
  left: 0;
  top: 50px;
  z-index: 99;
  height: calc( 100% - 50px );
  width: 55px;
  float: none;
  margin: 0;
  padding: 0;
  list-style: none;
  box-shadow: 0 0 0 3px rgba(0,0,0,.1);
  &_nav{
    height: 16%;
    border-top: 1px solid #FFF;
    text-align: center;
    &_icon{
      // background-color: #f75586;
      padding-top: 30px;
      color: #FFF;
    }
    &_txt{
      display: block;
      font-size: 1rem;
      color: #FFF;
    }
    &_date{
    }
  }
  &_nav:first_child{
    border-top: none;
  }
}

//サイドバー中身
#slidemenu_contents{
  color: #fff;
  .slidemenu_contents_detail{
    background-color: #704e97;
    position: absolute;
    left: 55px;
    top: 50px;
    z-index: 2;
    box-shadow: 0 0 0 3px rgba(0,0,0,.1);
    height: calc(100% - 50px);
    min-width: 270px;
    &#posts{
      width: calc(100% - 50px);
      h2,h3{
        position: relative;
        left: 20px;
        height: calc(100% - 50px);
        color: #fff;
        margin-bottom: 10px;
      }
    }
    &#home,&#contents-on-map,&#favorites{
      h2,h3{
        position: relative;
        left: 20px;
        color: #fff;
      }
    }
  }
}
//開いているサイドバーの中身
.active{
// background-color: #ccFF00;
color: #000000;
}

//home
//home_about
.home_about{
  width: 100%;
  position: absolute;
  top: 50px;
  left: auto;
  &_container{
    padding: 50px 100px 0 100px;
    // background-image: image-url("about_header.jpg");
    // background-size: cover;
    // background-position: 0 -100px;
    // width: 100%;
    // height: 450px;
      .home_about_heading{
        position: absolute;
        top: 120px;
        width: 500px;
        margin-bottom: 0;
        background: rgba(236, 236, 236, 0.7);
        font-size: 54px;
        color: #5f3a8a;
      }
      .home_about_subtitle{
        position: absolute;
        top: 201px;
        width: 500px;
        margin-bottom: 0;
        background: rgba(236, 236, 236, 0.7);
        font-size: 30px;
        color: #5f3a8a;
      }
      .user_link{
        position: absolute;
        top: 350px;
        margin: 50px 0;
        .user_link_nologin{
          font-weight: bold;
          padding: 1.5em 1.5em;
          margin-right: 10px;
          display: inline-block;
          text-decoration: none;
          background: #ECECEC;
          transition: .4s;
          a{
            font-size: 13px;
            color: #5f3a8a;
          }
          &:hover{
            background: #5f3a8a;
            a{
              color: #ECECEC;
            }
          }
        }
        .user_link_logout.user_link_logout{
          font-weight: bold;
          padding: 1.5em 1.5em;
          margin-right: 10px;
          display: inline-block;
          text-decoration: none;
          background: #ECECEC;
          transition: .4s;
          a{
            font-size: 13px;
            color: #5f3a8a;
          }
          &:hover{
            background: #5f3a8a;
            a{
              color: #ECECEC;
            }
          }
        }
      }
    }
    .home_about_appeal{
      position: absolute;
      top: 500px;
      width: 1100px;
      margin-top: 20px;
      a:link, a:visited, a:active {
        padding: 1.5em 1.5em;
        margin-right: 10px;
        display: inline-block;
        text-decoration: none;
        transition: .4s;
        background-color: #ECECEC;
        color: #5f3a8a;
        font-size: 13px;
        font-weight: bold;
        &:hover{
          background: #5f3a8a;
          color: #ECECEC;
        }
      }
      #appeal_1,#appeal_2,#appeal_3{
        width: 27%;
        font-size: 18px;
      }
      #home_about_appeal_1,#home_about_appeal_2,#home_about_appeal_3{
        h3{
          font-size: 40px;
          color: #5f3a8a;
        }
        p{
          font-size: 20px;
          color: #5f3a8a;
        }
      }
      .home_about_enter_app{
        margin: 100px 0;
        font-size: 20px;
        #enter_app_link{
          width: 100%;
          text-align: center;
          font-size: 40px;
          padding: 1.5em 0;
        }
      }
    }
  .home_about_header{
    background-image: image-url("about_header.jpg");
    background-size: cover;
    background-position: 0 -100px;
    width: 100%;
    height: 500px;
    margin-left: -10px;
  }
}

//フォローボタン
.follow_button{
  background: #5f3a8a;
  color: #ffffff;
  &:hover{
    background: #543e8685;
  }
}

//いいねボタン
.favorite_heart{
  .fa-heart{
    text-shadow:black 0.5px 0.5px 0px, black -0.5px 0.5px 0px,
                black 0.5px -0.5px 0px, black -0.5px -0.5px 0px;
  }
}


//タグCSS
.tags {
  background: #438d6485;
  border-radius: 8px 0 0 8px;
  color: #fff;
  display: inline-block;
  height: 20px;
  line-height: 20px;
  padding: 0 1em 0 2em;
  position: relative;
  margin-right: 1em;
}
.tags::before {
  border: 10px solid transparent;
  border-left-color: #438d6485;
  border-right-width: 0;
  content: '';
  display: block;
  height: 0;
  position: absolute;
  right: -10px;
  top: 0;
  width: 0;
}

.tags::after {
  background: #438d6485;
  border-radius: 8px 0 0 8px;
  content: '';
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 1em;
}

.search{
  position: absolute;
  top: 50px;
  left: 200px;
  &_result{
   h1,th{ color: #000; }
  }
}