// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


//indexページ新着投稿一覧
#home{
  .post_index{
    position: absolute;
    left: 10px;
    top: 50px;
    height: 615px;
    width: 250px;
    overflow: scroll;
    &_favorites_count{
      display: inline-block;
      list-style: none;
      margin-right: 10px;
    }
    &_comments_count{
      display: inline-block;
    }
    &_edit{
      display: inline-block;
      float: right;
    }
    &_tags{
      margin-bottom: 15px;
    }
  }
}
.post_index_post{
  width: 160px;
}
.index_avatar{
  width: 35px;
  border-radius: 50%;
}

//新規投稿
.post_new{
  position: absolute;
  left: 10px;
  font-size: 14px;
  &_form{
    input[type="text"],[type="email"],[type="password"] {
      width: 100px;
      height: 20px;
      padding: 15px;
      color: -internal-light-dark(black, white);
    }
    input[type="submit"]{
      margin-top: 10px;
      width: 80px;
      height: 35px;
        
    }
  }
}

//indexページお気に入り投稿一覧
#favorites, post_index{
  .user_show_favorites{
    position: absolute;
    left: 10px;
    top: 50px;
    height: 615px;
    width: 250px;
    overflow: scroll;
    &_count{
      display: inline-block;
      list-style: none;
      margin-right: 10px;
    }
    &_comments_count{
      display: inline-block;
    }
    &_edit{
      display: inline-block;
      float: right;
    }
    &_tags{
      margin-bottom: 15px;
    }
  }
}

//showページ
.post_show{
  position: absolute;
  top: 70px;
  left: 30px;
  color: #000;
  &_image{
  }
  &_tags{
    margin-bottom: 10px;
  }
  &_desc{
    max-width: 300px;
    font-size: 20px;
    margin-bottom: 20px;
  }
  &_created{
  }
  &_responce{
    text-align-last: left;
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: solid 1px #000;
    &_favorite{
      min-width: 40px;
      vertical-align: middle;
      display: inline-block;
      list-style: none;
      margin-right: 10px;
      a:link, a:visited, a:active {
        color: #000;
      }
    }
    &_comments_count{
      min-width: 40px;
      vertical-align: middle;
      display: inline-block;
    }
  }
  &_user{
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: solid 1px #000;
    &_avatar{
      display: inline-block;
      vertical-align: middle;
    }
    &_info{
      display: inline-block;
      vertical-align: middle;
      &_name{
      }
      &_desc{
        width: 500px;
        display: inline-block;
        vertical-align: middle;
      }
    &_follow_button{
      display: inline-block;
      vertical-align: middle;
    }
    }
  }
  &_comment_form{
    margin: 30px;
    vertical-align: middle;
    &_user{
    display: inline-block;
    }
    &_form{
    display: inline-block;
    }
  }
  &_comment_index{
    list-style: none;
    margin-left: 0;
    padding-left: 0;
    .comment{
      margin-bottom: 20px;
      &_body{
        .comment_user{
          &_avatar{
            width: 40px;
            &_image{
            }
          }
          .comment_body_block{
            width: 500px;
            .comment_user_info{
              &_name{
              }
              &_date{
                flood-color: gray;
              }
              .comment_delete_btn{
                justify-content:center;
                width: 20px;
                a:link, a:visited, a:active{
                color: #5f3a8a;
                font-weight: bold;
                margin-left: 10px;
                }
              }
            }
            .comment_user_text{
              list-style: none;
              font-weight: bold;
              font-size: 12px;
            }
          }
        }
      }
    }
  }
}

//閲覧用マップ
.googlemap{
  #map_canvas{
    // z-index: 999;
    position: absolute;
    right: 0;
    top: 50px;
    width: 955px;
    height: 100%;
  }
}
#pac-container {
  padding-bottom: 12px;
  margin-right: 12px;
}
.pac-controls {
  display: inline-block;
  padding: 5px 11px;
}
.pac-controls label {
  font-family: Roboto;
  font-size: 13px;
  font-weight: 300;
}
#pac-input {
  display: block;
  margin: 0 auto;
  height: 30px;
  width: 200px;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;

  border: 1px solid #acacac;
  color: #000;
  opacity: .7;
  border-radius: 10px;
  text-align: center;
  transition: all .3s;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  outline: none;
}
.pac-card {
  margin: 10px 10px 0 0;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  background-color: #fff;
  font-family: Roboto;
}
#pac-input:focus {
  border-color: #5f3a8a;
  width: 300px;
  outline: none;
}

//投稿用マップ
#post_map_canvas{
  position: absolute;
  left: 270px;
  top: 0px;
  width: 955px;
  height: 100%;
  // z-index: 999;
}
#post_pac-input {
//   display: block;
//   margin: 0 auto;
//   background-color: #fff;
//   font-family: Roboto;
//   font-size: 15px;
//   font-weight: 300;
//   padding: 0 11px 0 13px;
//   text-overflow: ellipsis;
//   width: 400px;
      display: block;
      display: none;
      margin: 0 auto;
      height: 30px;
      width: 200px;
      font-family: Roboto;
      font-size: 15px;
      font-weight: 300;
      padding: 0 11px 0 13px;
      text-overflow: ellipsis;

      border: 1px solid #acacac;
      color: #000;
      opacity: .7;
      border-radius: 10px;
      text-align: center;
      transition: all .3s;
      -webkit-transition: all .3s;
      -moz-transition: all .3s;
      outline: none;
}

#post_pac-input:focus {
  border-color: #4d90fe;
}